@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
  list-style: none;
  box-sizing: border-box;
  font-family: "Poppins";
  text-decoration: none;
}

h1 {
  font-size: xx-large;
  text-align: center;
}

h1,
h2 {
  text-transform: capitalize;
  margin: 0 0 1rem 0;
}

img {
  object-fit: cover;
}

.container {
  max-width: 1024px;
  min-width: 1024px;
  margin: 2rem auto 0 auto;
  padding: 1.5rem 1.5rem 1.5rem 1.5rem;
  border: solid black;
  border-radius: 0.5rem;
}

.avatar {
  width: 10rem;
  border: 2px black;
  border-style: solid;
  border-radius: 50%;
}

.divider {
  border-top: solid gray 2px;
  margin: 2rem 0 2rem 0;
}

.btn {
  color: black;
  border: 2px solid black;
  border-radius: 0.5rem;
  padding: 1rem;
  display: block;
  width: fit-content;
  background: white;
  text-transform: capitalize;
  transition: all ease-in-out 150ms;
}

.btn:hover {
  color: white;
  background-color: black;
}